<!DOCTYPE html>
<html lang="en">

<head>
	{{>headerLinks}}
</head>

<body>
	{{>navbar}}
<div class="my-5 text-center">
	<img class="errorPage" src="images/404.jpg" alt="">
	<div class="text-center"><a href="/"><button class="goBackBtn btn ">Go Back</button></a></div>
</div>

	{{>footer}}
	{{>JSJQLinkes}}
</body>

</html>