	<div class="container-fluid mt-4" id="aboutId">
		<div class="row">
			<div class="col-md-10 col-12 mx-auto">
				<h1 class="text-center about-head ">About Us</h1>
				<p class="text-center about-sub-head">grow your business with us</p>
				<div class="row">
					{{!-- left side --}}
					<div class="col-md-6 col-12 hero-img ">
						<figure>
							<img src="images/about.svg" alt="">
						</figure>
					</div>

					{{!-- right side --}}
					<div class="col-md-6 col-12 hero-text  d-flex flex-column justify-content-center align-items-start">
						<div class="mx-auto text-center">

						
						<h1>WE ARE THE PROFFESSIONAL DEVELOPER✌</h1>
						<h1>GROW YOUR BUSINESS</h1>
						<P class="para">Our team try to fulfill your wish and takes effort their level best...</P>
						<button class="btn btn-style">Read more</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>