<div class="footer-basic">
	<footer>
		<div class="social"><a href="https://www.instagram.com/nishant.argade/" target="_blank"><i class="icon ion-social-instagram"></i></a><a href="#"><i
					class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a
				href="https://www.facebook.com/nishant.argade.14" target="_blank"><i class="icon ion-social-facebook"></i></a></div>
		<ul class="list-inline">
			<li class="list-inline-item"><a href="#homeId">Home</a></li>
			<li class="list-inline-item"><a href="#aboutId">About</a></li>
			<li class="list-inline-item"><a href="#galleryId">Gallery</a></li>
			<li class="list-inline-item"><a href="#serviceId">Services</a></li>
			<li class="list-inline-item"><a href="#contactId">Contact</a></li>
		</ul>
		<p class="copyright">Nishant Argade © 2021</p>
	</footer>