<div class="container-fluid " id="serviceId">
	<div class="row">
		<div class="col-md-10 col-12 mx-auto">
			<h1 class="text-center about-head">Our Service</h1>
			<p class="text-center about-sub-head">grow your business with us</p>
			<div class="row">

				<div class="col-md-4 ">
					<div>
						<div class="box-icon mx-auto text-center ">
							<i class="fa fa-cog fa-2x text-white pt-3 "></i>
						</div>
						<div class="box" id="box1">
							<h4>Setting</h4>
							<p>
								Lorem ipsum dolor sit amet consectet dfdf sdfd , adiasdfdsfsadf adsfds pisicing elit.
						
							</p>
						</div>
					</div>
				</div>



				<div class="col-md-4 ">
					<div>
						<div class="box-icon mx-auto text-center ">
							<i class="fas fa-tachometer-alt fa-2x text-white pt-3 "></i>
						</div>
						<div class="box" id="box2">
							<h4>SpeedUp</h4>
							<p>
								Lorem ipsum dolor sit amet consectet dfdf sdfd , adiasdfdsfsadf adsfds pisicing elit.
		
							</p>
						</div>
					</div>
				</div>



				<div class="col-md-4 ">
					<div>
						<div class="box-icon mx-auto text-center ">
							<i class="fas fa-shield-alt fa-2x text-white pt-3"></i>
						</div>
						<div class="box" id="box3">
							<h4>Privacy</h4>
							<p>
								Lorem ipsum dolor sit amet consectet dfdf sdfd , adiasdfdsfsadf adsfds pisicing elit.
							</p>
						</div>
					</div>
				</div>



				<div class="col-md-4 ">
					<div>
						<div class="box-icon mx-auto text-center ">
							<i class="fas fa-archive fa-2x text-white pt-3 "></i>
						</div>
						<div class="box" id="box4">
							<h4>Backup</h4>
							<p>
								Lorem ipsum dolor sit amet consectet dfdf sdfd , adiasdfdsfsadf adsfds pisicing elit.
							</p>
						</div>
					</div>
				</div>



				<div class="col-md-4 ">
					<div>
						<div class="box-icon mx-auto text-center ">
							<i class="fa fa-lock fa-2x text-white pt-3 "></i>
						</div>
						<div class="box" id="box5">
							<h4>SSL Secure</h4>
							<p>
								Lorem ipsum dolor sit amet consectet dfdf sdfd , adiasdfdsfsadf adsfds pisicing elit.
							</p>
						</div>
					</div>
				</div>



				<div class="col-md-4 ">
					<div>
						<div class="box-icon mx-auto text-center ">
							<i class="fas fa-database fa-2x text-white pt-3 "></i>
						</div>
						<div class="box" id="box6">
							<h4>Database</h4>
							<p>
								Lorem ipsum dolor sit amet consectet dfdf sdfd , adiasdfdsfsadf adsfds pisicing elit.
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>